/* Section activités */
.activites {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    row-gap: 2rem;
}

.activites__bloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
.activites__bloc--card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;
    background-color: white;
    overflow: hidden;
    width: 100%;
    max-height: 300px;
    box-shadow: .2rem .2rem .5rem #d6d6d6;
}

.activites__bloc--card--img {
    width: 100%;
    height: 70%;
    max-height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.activites__bloc--card--img>img {
    width: 100%;
    height: 100%;
    border-radius: 1rem 1rem 0 0;
    object-fit: contain;
}
.activites__bloc--card>h3 {
    margin: 1rem;
    color: black;
}

@media screen and (min-width: 767px) {
    .activites__bloc--card {
        max-width: 48%;
    }
    .activites__bloc {
        
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        column-gap: 1rem;
    }
}

@media screen and (min-width:993px) {
    .activites__bloc--card {
        max-width: 30%;
    }
}

@media screen and (min-width: 1239px) {
    /* .activites__bloc--card {
        max-width: 24%;
    } */
    .activites__bloc {
        display: grid;
        height: 450px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .activites__bloc--card {
        max-width: 100%;
        height: 100%;
    }
    .stretch1 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        max-height: 100%;
    }
    .normal1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        max-height: 100%;
    }
    .normal2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        max-height: 100%;
    }
    .stretch2 {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        max-height: 100%;
    }
    .normal3 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
        max-height: 100%;
    }
    .normal4 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
        max-height: 100%;
    }
    .activites__bloc--card--img {
        height: 80%;
        max-height: 100%;
    }
    .activites__bloc--card--img>img {
        object-fit: cover;
    }
    
}